<!DOCTYPE html>
<html>
<head>
  <title>Blogel</title>
  <%= stylesheet_link_tag    "blogel/application", :media => "all" %>
  <%= javascript_include_tag "blogel/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
